.flex-container {
		display: flex;
		justify-content: center;
}
.inner-flex-container {
		padding: 20px;
		background-color: white;
}
.rank {
		padding: 8px;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 15pt;
}
